@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 0% 0%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.report-body {
		& > * {
			margin-top: 0;
			margin-bottom: 0;
		}
		& > * + * {
			margin-top: 1em; /* This adds space between elements */
		}
		& p {
			margin-top: 0;
			margin-bottom: 0;
			min-height: 1em; /* This ensures empty paragraphs take up space */
		}
		& ul,
		& ol {
			padding-left: 1.5em; /* Adjust as needed */
		}
		& li {
			margin-top: 0;
			margin-bottom: 0;
		}
		& li > p {
			margin-top: 0;
			margin-bottom: 0;
		}
		/* Preserve whitespace */
		white-space: pre-wrap;
	}
}

.report-body-editor {
	padding-left: 4px;
	padding-right: 4px;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-y: scroll;
}

main {
	flex: 1;
}

h1 {
	letter-spacing: 0.0125em;
}

.logo-link:focus {
	outline: 2px solid black;
	outline-offset: 2px;
	border-radius: 4px;
}

.glow-on-hover {
	border: none;
	outline: none;
	color: #fff;
	background: #000;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: "";
	background: linear-gradient(
		45deg,
		#00ffd5,
		#002bff,
		#7a00ff,
		#002bff,
		#00ffd5
	);
	position: absolute;
	top: -1px;
	left: -1px;
	background-size: 400%;
	z-index: -1;
	filter: blur(3px);
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
